#ifndef __SECRETS_H__
#define __SECRETS_H__

/* Thresholds for Status System */
#define STATUS_EXPLORER_THRESHOLD 5
#define STATUS_VETERAN_THRESHOLD  10
#define STATUS_LEGEND_THRESHOLD   15

/* Chore System Secrets */
typedef struct player_chore {
    unsigned char type;
    int vnum;
} PlayerChore;

/* This is a template. Real chores are in the private secrets.h */
#ifdef USE_REAL_CHORES
extern PlayerChore chores[];
extern int num_chores;
#else
static PlayerChore chores[] = {
    {0, 0} /* Placeholder */
};
static int num_chores = 1;
#endif

#endif
